release
xcode
debug
build
bin/
lib/
.mtime_cache
*.DS_Store
*.log
Notebooks/blocksci
*.so
*.dylib
*.pyc
__pycache__/
include/blocksci/external
include/blocksci/blocksci_export.h
python/blocksci/pybind11
*.egg-info
blockscipy/dist/*
.pytest_cache
.idea
.benchmarks
result
result-*
.nix-install
.nix-pip
LOCAL_PIP/
test-chain/
